
.vs/recipositoryApi/DesignTimeBuild/.dtbcache.v2
.vs/recipositoryApi/DesignTimeBuild/.dtbcache.v2
.vs/recipositoryApi/v16/.suo
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/recipositoryApi.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/recipositoryApi.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/recipositoryApi.RazorAssemblyInfo.cache
obj/Debug/netcoreapp3.1/recipositoryApi.RazorAssemblyInfo.cs
